DATABASE_URL="mysql://root:@pauljimmyAB1230@localhost:3306/banquito_solidario"
PORT=3000
JWT_SECRET=banquito-solidario-jwt-secret-2026
JWT_EXPIRES_IN=8h
JWT_REFRESH_SECRET=banquito-solidario-refresh-secret-2026
UPLOAD_DIR=uploads
