mysqldump.exe : mysqldump: [Warning] Using a password on the command line interface can be insecure.
En línea: 1 Carácter: 1
+ & "C:\Program Files\MySQL\MySQL Server 8.0\bin\mysqldump.exe" -u root ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insecure.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: banquito_solidario
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `aporte`
--

DROP TABLE IF EXISTS `aporte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aporte` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `monto` decimal(12,2) NOT NULL,
  `periodo` char(7) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fechaAporte` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `metodoPago` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'EFECTIVO',
  `comprobante` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacion` text COLLATE utf8mb4_unicode_ci,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVO',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `FondoSocio_Id` int NOT NULL,
  `claveUnica` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `aporte_claveUnica_key` (`claveUnica`),
  KEY `aporte_FondoSocio_Id_fkey` (`FondoSocio_Id`),
  CONSTRAINT `aporte_FondoSocio_Id_fkey` FOREIGN KEY (`FondoSocio_Id`) REFERENCES `fondosocio` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=331 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aporte`
--

LOCK TABLES `aporte` WRITE;
/*!40000 ALTER TABLE `aporte` DISABLE KEYS */;
/*!40000 ALTER TABLE `aporte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arqueocaja`
--

DROP TABLE IF EXISTS `arqueocaja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `arqueocaja` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fechaArqueo` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `saldoSistema` decimal(12,2) NOT NULL,
  `saldoFisico` decimal(12,2) NOT NULL,
  `diferencia` decimal(12,2) NOT NULL,
  `observacion` text COLLATE utf8mb4_unicode_ci,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDIENTE',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `fechaAprobacion` datetime(3) DEFAULT NULL,
  `caja_id` int NOT NULL,
  `aprobadoPor` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `arqueocaja_codigo_key` (`codigo`),
  KEY `arqueocaja_caja_id_fechaArqueo_idx` (`caja_id`,`fechaArqueo`),
  CONSTRAINT `arqueocaja_caja_id_fkey` FOREIGN KEY (`caja_id`) REFERENCES `caja` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arqueocaja`
--

LOCK TABLES `arqueocaja` WRITE;
/*!40000 ALTER TABLE `arqueocaja` DISABLE KEYS */;
/*!40000 ALTER TABLE `arqueocaja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditlog`
--

DROP TABLE IF EXISTS `auditlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditlog` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tabla` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `registroId` int NOT NULL,
  `operacion` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `datosAnteriores` json DEFAULT NULL,
  `datosNuevos` json DEFAULT NULL,
  `ip` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `auditlog_tabla_registroId_idx` (`tabla`,`registroId`),
  KEY `auditlog_createdAt_idx` (`createdAt`)
) ENGINE=InnoDB AUTO_INCREMENT=375 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditlog`
--

LOCK TABLES `auditlog` WRITE;
/*!40000 ALTER TABLE `auditlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `beneficiario`
--

DROP TABLE IF EXISTS `beneficiario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `beneficiario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `dni` char(8) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombres` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidoPaterno` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidoMaterno` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fechaNacimiento` datetime(3) DEFAULT NULL,
  `parentesco` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(9) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `socio_id` int NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `beneficiario_socio_id_fkey` (`socio_id`),
  CONSTRAINT `beneficiario_socio_id_fkey` FOREIGN KEY (`socio_id`) REFERENCES `socio` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `beneficiario`
--

LOCK TABLES `beneficiario` WRITE;
/*!40000 ALTER TABLE `beneficiario` DISABLE KEYS */;
/*!40000 ALTER TABLE `beneficiario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `caja`
--

DROP TABLE IF EXISTS `caja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `caja` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PRINCIPAL',
  `moneda` char(3) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PEN',
  `saldoInicial` decimal(12,2) NOT NULL DEFAULT '0.00',
  `saldoActual` decimal(12,2) NOT NULL DEFAULT '0.00',
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVA',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `fondorotatorio_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `caja_codigo_key` (`codigo`),
  KEY `caja_fondorotatorio_id_fkey` (`fondorotatorio_id`),
  CONSTRAINT `caja_fondorotatorio_id_fkey` FOREIGN KEY (`fondorotatorio_id`) REFERENCES `fondorotatorio` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `caja`
--

LOCK TABLES `caja` WRITE;
/*!40000 ALTER TABLE `caja` DISABLE KEYS */;
INSERT INTO `caja` VALUES (3,'CAJ-HJGKP4LOQP','Caja Ahorros Cooperativos',NULL,'PRINCIPAL','PEN',0.00,1850.00,'ACTIVA','2026-08-05 20:21:39.118','2026-08-13 19:43:55.437',6),(4,'CAJ-SYYMR66QKZ','Caja Banquito Sumac Ayllu',NULL,'PRINCIPAL','PEN',0.00,25617.67,'ACTIVA','2026-08-06 15:57:58.219','2026-08-10 22:17:19.694',5);
/*!40000 ALTER TABLE `caja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conceptocaja`
--

DROP TABLE IF EXISTS `conceptocaja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conceptocaja` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `afectaSaldo` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `requiereComprobante` tinyint(1) NOT NULL DEFAULT '1',
  `orden` int NOT NULL DEFAULT '0',
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVO',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `conceptocaja_codigo_key` (`codigo`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conceptocaja`
--

LOCK TABLES `conceptocaja` WRITE;
/*!40000 ALTER TABLE `conceptocaja` DISABLE KEYS */;
/*!40000 ALTER TABLE `conceptocaja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cuotaprestamo`
--

DROP TABLE IF EXISTS `cuotaprestamo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cuotaprestamo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `numero` int NOT NULL,
  `fechaVencimiento` datetime(3) NOT NULL,
  `monto` decimal(12,2) NOT NULL,
  `interes` decimal(12,2) NOT NULL,
  `amortizacion` decimal(12,2) NOT NULL,
  `saldo` decimal(12,2) NOT NULL,
  `montoPagado` decimal(12,2) NOT NULL,
  `saldoPendiente` decimal(12,2) NOT NULL,
  `fechaPago` datetime(3) DEFAULT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PENDIENTE',
  `metodoPago` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `comprobante` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `prestamo_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cuotaprestamo_prestamo_id_numero_key` (`prestamo_id`,`numero`),
  CONSTRAINT `cuotaprestamo_prestamo_id_fkey` FOREIGN KEY (`prestamo_id`) REFERENCES `prestamo` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cuotaprestamo`
--

LOCK TABLES `cuotaprestamo` WRITE;
/*!40000 ALTER TABLE `cuotaprestamo` DISABLE KEYS */;
INSERT INTO `cuotaprestamo` VALUES (23,1,'2026-08-16 00:00:00.000',510.00,10.00,500.00,0.00,0.00,510.00,NULL,'PENDIENTE',NULL,NULL,4);
/*!40000 ALTER TABLE `cuotaprestamo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentosocio`
--

DROP TABLE IF EXISTS `documentosocio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documentosocio` (
  `id` int NOT NULL AUTO_INCREMENT,
  `tipoDocumento` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombreArchivo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `rutaArchivo` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mimeType` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tama├▒o` int NOT NULL,
  `socio_id` int NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  KEY `documentosocio_socio_id_fkey` (`socio_id`),
  CONSTRAINT `documentosocio_socio_id_fkey` FOREIGN KEY (`socio_id`) REFERENCES `socio` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentosocio`
--

LOCK TABLES `documentosocio` WRITE;
/*!40000 ALTER TABLE `documentosocio` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentosocio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flujocajaproyectado`
--

DROP TABLE IF EXISTS `flujocajaproyectado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flujocajaproyectado` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `concepto` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `montoProyectado` decimal(12,2) NOT NULL,
  `montoReal` decimal(12,2) DEFAULT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PROYECTADO',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `caja_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `flujocajaproyectado_caja_id_fecha_idx` (`caja_id`,`fecha`),
  CONSTRAINT `flujocajaproyectado_caja_id_fkey` FOREIGN KEY (`caja_id`) REFERENCES `caja` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flujocajaproyectado`
--

LOCK TABLES `flujocajaproyectado` WRITE;
/*!40000 ALTER TABLE `flujocajaproyectado` DISABLE KEYS */;
/*!40000 ALTER TABLE `flujocajaproyectado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fondorotatorio`
--

DROP TABLE IF EXISTS `fondorotatorio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fondorotatorio` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `organizacion` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `capitalInicial` decimal(12,2) NOT NULL,
  `capitalDisponible` decimal(12,2) NOT NULL,
  `moneda` char(3) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PEN',
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVO',
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `reglamento` text COLLATE utf8mb4_unicode_ci,
  `condiciones` text COLLATE utf8mb4_unicode_ci,
  `fechaCierre` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fondorotatorio`
--

LOCK TABLES `fondorotatorio` WRITE;
/*!40000 ALTER TABLE `fondorotatorio` DISABLE KEYS */;
INSERT INTO `fondorotatorio` VALUES (5,'Banquito Sumac Ayllu','la la land',0.00,25617.67,'PEN','ACTIVO',NULL,NULL,NULL,NULL,'2026-08-05 20:05:35.234','2026-08-10 22:17:19.688'),(6,'Ahorros Cooperativos','Cooperativa Agraria Frutos del Ande',0.00,1850.00,'PEN','ACTIVO',NULL,NULL,NULL,NULL,'2026-08-05 20:12:43.825','2026-08-13 19:43:55.433');
/*!40000 ALTER TABLE `fondorotatorio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fondosocio`
--

DROP TABLE IF EXISTS `fondosocio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fondosocio` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fechaIngreso` datetime(3) DEFAULT NULL,
  `fechaSalida` datetime(3) DEFAULT NULL,
  `numeroSocio` int DEFAULT NULL,
  `cargo` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nivel` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacion` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fechaAprobacion` datetime(3) DEFAULT NULL,
  `usuario_id` int DEFAULT NULL,
  `fondorotatorio_id` int NOT NULL,
  `socio_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `FondoSocio_fondorotatorio_id_socio_id_key` (`fondorotatorio_id`,`socio_id`),
  KEY `FondoSocio_socio_id_idx` (`socio_id`),
  CONSTRAINT `FondoSocio_fondorotatorio_id_fkey` FOREIGN KEY (`fondorotatorio_id`) REFERENCES `fondorotatorio` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `FondoSocio_socio_id_fkey` FOREIGN KEY (`socio_id`) REFERENCES `socio` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fondosocio`
--

LOCK TABLES `fondosocio` WRITE;
/*!40000 ALTER TABLE `fondosocio` DISABLE KEYS */;
/*!40000 ALTER TABLE `fondosocio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movimientocaja`
--

DROP TABLE IF EXISTS `movimientocaja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `movimientocaja` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `monto` decimal(12,2) NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `comprobante` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `metodoPago` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'EFECTIVO',
  `referencia` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fechaMovimiento` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'REGISTRADO',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `caja_id` int NOT NULL,
  `conceptocaja_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `movimientocaja_codigo_key` (`codigo`),
  KEY `movimientocaja_caja_id_fechaMovimiento_idx` (`caja_id`,`fechaMovimiento`),
  KEY `movimientocaja_fechaMovimiento_idx` (`fechaMovimiento`),
  KEY `movimientocaja_estado_idx` (`estado`),
  KEY `movimientocaja_conceptocaja_id_fkey` (`conceptocaja_id`),
  CONSTRAINT `movimientocaja_caja_id_fkey` FOREIGN KEY (`caja_id`) REFERENCES `caja` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `movimientocaja_conceptocaja_id_fkey` FOREIGN KEY (`conceptocaja_id`) REFERENCES `conceptocaja` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=331 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movimientocaja`
--

LOCK TABLES `movimientocaja` WRITE;
/*!40000 ALTER TABLE `movimientocaja` DISABLE KEYS */;
/*!40000 ALTER TABLE `movimientocaja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prestamo`
--

DROP TABLE IF EXISTS `prestamo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prestamo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `monto` decimal(12,2) NOT NULL,
  `tasaInteres` decimal(5,2) NOT NULL,
  `numeroCuotas` int NOT NULL,
  `montoCuota` decimal(12,2) NOT NULL,
  `totalInteres` decimal(12,2) NOT NULL,
  `fechaDesembolso` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `fechaPrimerVencimiento` datetime(3) NOT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVO',
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  `FondoSocio_Id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `prestamo_FondoSocio_Id_fkey` (`FondoSocio_Id`),
  CONSTRAINT `prestamo_FondoSocio_Id_fkey` FOREIGN KEY (`FondoSocio_Id`) REFERENCES `fondosocio` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prestamo`
--

LOCK TABLES `prestamo` WRITE;
/*!40000 ALTER TABLE `prestamo` DISABLE KEYS */;
INSERT INTO `prestamo` VALUES (4,500.00,2.00,1,510.00,10.00,'2026-08-05 20:37:16.770','2026-08-16 00:00:00.000','ACTIVO','2026-08-05 20:37:16.770','2026-08-10 18:18:36.002',31);
/*!40000 ALTER TABLE `prestamo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `socio`
--

DROP TABLE IF EXISTS `socio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `socio` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `dni` char(8) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombres` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidoPaterno` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidoMaterno` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `genero` char(1) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fechaNacimiento` datetime(3) DEFAULT NULL,
  `estadoCivil` char(1) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono` varchar(9) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `direccion` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fechaIngreso` datetime(3) NOT NULL,
  `estado` char(1) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'A',
  `fotoUrl` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `socio_codigo_key` (`codigo`),
  UNIQUE KEY `socio_dni_key` (`dni`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `socio`
--

LOCK TABLES `socio` WRITE;
/*!40000 ALTER TABLE `socio` DISABLE KEYS */;
/*!40000 ALTER TABLE `socio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombres` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidoPaterno` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `apellidoMaterno` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `username` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `correo` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rol` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` varchar(45) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'ACTIVO',
  `ultimoAcceso` datetime(3) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuario_username_key` (`username`),
  UNIQUE KEY `usuario_correo_key` (`correo`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (1,'Administrador','Sistema','Banquito','admin','$2a$12$kt12LE9wy8vBzS712KTaNuWRRd6IiS8KV0OejItcZa98C2Ea3EjWi','admin@banquito.com',NULL,'ADMIN','ACTIVO','2026-08-13 19:25:34.261','2026-07-31 17:48:47.771');
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'banquito_solidario'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-13 16:02:02
